body{
margin:0;
  font-family:"Lato","sens-serif";
  
}
*{
  margin:0;
}
.wrapper{
  display:flex;
  width:100vw;
  height:100vh;
   background-color:#dfe6e9;
}

.calender{
  margin:auto;
  width:600px;
  height:400px;
  background-color:#fff;
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,1)
}

.month{
  display:flex;
  justify-content:space-between;
  width:100%;
  text-align:center;
  background-color:#2ecc71;
  color:#fff
